---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
import LangLink from "./LangLink.astro";
import { getLangFromUrl, useTranslations } from "../i18n/utils";

const { lang } = Astro.props;
const t = useTranslations(lang);

const homeSlug = `/${lang || ""}`;
const productsSlug = `/${lang || ""}/products-services`;
const educationSlug = `/${lang || ""}/education`;
const enterpriseSlug = `/${lang || ""}/enterprise`;
const customSlug = `/${lang || ""}/custom-solution`;
const outsourcingSlug = `/${lang || ""}/outsourcing`;
const aboutSlug = `/${lang || ""}/about`;
const blogSlug = `/${lang || ""}/blog`;
const contactSlug = `/${lang || ""}/contact`;
---

<header class="sticky top-0 bg-blue-600 shadow-lg z-50 transition duration-300 ease-in-out">
  <nav class="flex items-center justify-between p-300 bg-sky-950 text-white">
    <h2 class="flex items-center">
      <a href="/"><img src="../../public/images/po.png" alt="Site Logo" class="w-12 h-auto mr-2" /></a>
      <a href="/" class="text-white font-bold text-xl hover:text-blue-300">{SITE_TITLE}</a>
    </h2>
    <div class="flex items-center space-x-6 flex-wrap">
      <HeaderLink href={homeSlug} class="text-white hover:text-blue-300">{t("nav.home")}</HeaderLink>

      <div class="relative group">
        <HeaderLink href={productsSlug} class="text-white hover:text-blue-300">{t("nav.products")}</HeaderLink>
        <div class="absolute hidden group-hover:block bg-sky-950 rounded-sm shadow-md p-2 min-w-[350px] transition-opacity duration-100 opacity-0 group-hover:opacity-100">
          <HeaderLink href={educationSlug} class="font-bold text-white hover:text-gray-600">{t("nav.education")}</HeaderLink>
          <ul class="list-none p-3 m-0">
            <li><a href="https://wikischool.asia" target="_blank" class="block p-2 text-white hover:bg-blue-600 rounded">{t("nav.k12")}</a></li>
            <li><a href={`${educationSlug}/wiki-college`} target="_blank" class="block p-2 text-white hover:bg-blue-600 rounded">{t("nav.university")}</a></li>
            <li><a href={`${educationSlug}/enrollment`} target="_blank" class="block p-2 text-white hover:bg-blue-600 rounded">{t("nav.enrollment")}</a></li>
          </ul>
          <HeaderLink href={enterpriseSlug} class="font-bold text-white hover:text-blue-300">{t("nav.enterprise")}</HeaderLink>
          <ul class="list-none p-0 m-0">
            <li><a href="https://vithean.com" target="_blank" class="block p-2 text-white hover:bg-blue-600 rounded">{t("nav.vithean")}</a></li>
            <li><a href={`${enterpriseSlug}/attendance-card-device`} target="_blank" class="block p-2 text-white hover:bg-blue-600 rounded">{t("nav.attendance")}</a></li>
            <li><a href={`${enterpriseSlug}/hrm-solution`} target="_blank" class="block p-2 text-white hover:bg-blue-600 rounded">{t("nav.hrm")}</a></li>
          </ul>
          <HeaderLink href={customSlug} class="font-bold text-white hover:text-blue-300">{t("nav.custom")}</HeaderLink><br>
          <HeaderLink href={outsourcingSlug} class="text-white hover:text-blue-300">{t("nav.outsourcing")}</HeaderLink>
        </div>
      </div>

      <div class="relative group">
        <HeaderLink href={aboutSlug} class="text-white hover:text-blue-300">{t("nav.about")}</HeaderLink>
        <div class="absolute hidden group-hover:block bg-sky-950 rounded-md shadow-lg p-4 transition-opacity min-w-[200px] duration-200 opacity-0 group-hover:opacity-100">
          <HeaderLink href={`${aboutSlug}/company-profile`} class="font-bold text-white hover:text-blue-300">{t("nav.companyProfile")}</HeaderLink>
          <HeaderLink href={`${aboutSlug}/our-customers`} class="font-bold text-white hover:text-blue-300">{t("nav.ourCustomers")}</HeaderLink>
          <HeaderLink href={`${aboutSlug}/legal`} class="font-bold text-white hover:text-blue-300">{t("nav.legal")}</HeaderLink>
          <ul class="list-none p-0 m-0">
            <li><HeaderLink href={`${aboutSlug}/privacy`} class="block p-2 text-white hover:bg-blue-600 rounded">{t("nav.privacy")}</HeaderLink></li>
            <li><HeaderLink href={`${aboutSlug}/terms`} class="block p-2 text-white hover:bg-blue-600 rounded">{t("nav.terms")}</HeaderLink></li>
          </ul>
        </div>
      </div>

      <HeaderLink href={blogSlug} class="text-white hover:text-blue-300">{t("nav.blogs")}</HeaderLink>
      <HeaderLink href={contactSlug} class="text-white hover:text-blue-300">{t("nav.contact")}</HeaderLink>
    </div>

    <div class="flex space-x-2 text-white">
      <LangLink language="en" isActive={lang == "en"} />
      <LangLink language="km" isActive={lang == "km"} />
    </div>

    <div class="flex space-x-2">
      <!-- Social media links here -->
    </div>
  </nav>
</header>
